h1 {
  color: red;
  line-height: 100%;
}

ol {
  font-style: italic;
  font-weight: 900;
}

h2 {
  font-family: sans-serif;
}

a {
  font-size: 20px;
}

body {
  align-content: center;
}

#textOutput {
  display: none;
}
